<!DOCTYPE html>
<html>
  <head>
    <% if @meta[:title].present? %>
      <title><%= @meta[:title] + " | " + ENV['SITE_NAME'] %></title>
    <% else %>
      <title><%= ENV['SITE_NAME'] %></title>
    <% end %>
    <meta name="theme-color" content="<%= ENV["DEFAULT_THEME"] == 'dark' ? "#111" : "#eee" %>">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_url('apple-icon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= image_url('apple-icon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_url('apple-icon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= image_url('apple-icon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_url('apple-icon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= image_url('apple-icon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_url('apple-icon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_url('apple-icon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_url('apple-icon-180x180.png') %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= image_url('android-icon-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_url('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= image_url('favicon-96x96.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_url('favicon-16x16.png') %>">
    <meta name="msapplication-TileImage" content="<%= image_url('ms-icon-144x144.png') %>">

    <meta name="keywords" content="<%= ENV['META_KEYWORDS'] %>" />
    <meta name="description" content="<%= ENV['META_DESCRIPTION'] %>"/>

    <meta name="google-site-verification" content="<%= ENV["GOOGLE_SITE_VERIFICATION_CODE"] %>" />
    <% @meta.each do |key, value| %>
      <meta name="og:<%= key %>" content="<%= value %>" />
    <% end %>
    <meta name="og:title" content="<%= ENV['SITE_NAME'] %>" />
    <meta name="og:url" content="<%= request.original_url %>" />
    <meta name="og:image" content="<%= image_url('stripe_logo.jpg') %>" />
    <meta name="og:site_name" content="<%= ENV['SITE_NAME'] %>"/>

    <meta name="twitter:card" content="summary_large_image" />
    <style>
        html {
            font-family: 'Nunito', sans-serif;
        }
    </style>
    <!-- <meta name="twitter:site" content="<%= ENV["META_TWITTER"] %>" /> -->
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="margin: 0; height: 100vh; overflow: hidden;">
    <%= yield %>
  </body>
</html>
